---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -cppcoreguidelines-*
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
